#sidebar {
    width: 140px;
    height: 100%;
    position: fixed;
    left: 0;
    top: 0;
    background-color: rgb(14, 52, 141);
    color: #fff;
    padding: 20px;
    transition: width 0.5s ease;
    display: flex;
    

  }
  

  #sidebar ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    
  }
  
  #sidebar li {
    margin-bottom: 10px;
  }
  
  #sidebar a {
    color: #fff;
    text-decoration: none;
    display: block;
    padding: 10px;
  }
  

  
  .child {
    display: none;
    text-align: right;
  }
  
  .child.active {
    display: block;
  }

.userSigned {
    display: flex;
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 100%;
    position: fixed; 
    bottom: 0;
}
